<div class=" footer border-top">
    <div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                <li> &copy 2025 Airbnb, Inc.</li>
                <li><a href="/privacy" class="nav-link privacy">Privacy</a></li>
                <li><a href="/terms" class="nav-link terms ">Terms</a></li>
            </ul>
       </div>
       <div class="col-auto">
            <a href="https://www.instagram.com/airbnb/"><i class=" footer-icon fa-brands fa-instagram"></i></a>
            <a href="https://x.com/airbnb_in"><i class="footer-icon fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/AirbnbIndia"><i class="footer-icon fa-brands fa-facebook"></i></a>
      </div>
    </div>
</div>