<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid position-relative">
        <a class="navbar-brand text-danger" href="/listing"><i class="fa-brands fa-airbnb airbnb-icon"></i>airbnb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <i class="fa-solid fa-bars"></i>
        </button>
        <!-- <form action="" role="search" class="position-relative top-50 start-50">
            <input type="search" class="form-control " id="">
        </form> -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/listing/new">Add New listings</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <%if(authenticated){%>
                    <li class="nav-item">
                        <a href="/users/logout" class="nav-link">Logout</a>
                    </li>
                    <%}else{%>
                        <li class="nav-item">
                            <a href="/users/sign" class="nav-link">SignUp</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/login" class="nav-link">Login</a>
                        </li>
                        <%}%>
            </ul>
        </div>
    </div>
</nav>