<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand app" href="/listing"><i class="fa-brands fa-airbnb airbnb-icon"></i>airbnb</a>
        <div class="centernav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand" href="/listing/new">Add New listings</a>
                    </form>
                </li>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
        </div>
        <div class="rightnav">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class=" nav-link host" href="/host">Become a host </a>
            </div>
            <a class=" nav-link globe" href="/langCurr"><i class="fa-solid fa-globe"></i></a>
            <a class=" nav-link menu" href="/help"><i class="fa-solid fa-mosque"></i></a>
        </div>
    </div>
</nav>