<%layout("./layouts/boilerplate")%>
<%title="ERROR"%>
<%css="css/error.css"%>
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
  <div >
    <%=message%>
  </div>
</div>