<%layout("./layouts/boilerplate")%>
<%title="ERROR"%>
<div class="alert alert-danger d-flex align-items-center col-6 mx-auto" role="alert">
  <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
  <div >
    <%=message%>
  </div>
</div>