<%layout("layouts/boilerplate")%>
  <%title="WanderLust"%>
  <%css="/listings.css"%>
  <body>
    <h1 class="head">All Listings</h1>
    <div class="houses row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
      <% for( let list of showLists) { %>
        <div class="col mb-4">
          <div class="mycard">
            <a href="/listing/<%=list._id%>"><img class="listing" src="<%=list.image.url%>" alt=""></a>
            <b>
              <p class="title">
                <%=list.title%>
              </p>
            </b>
            <p>₹<%=list.price.toLocaleString("en-IN")%>/night</p>
          </div>
        </div>
        <%}%>
    </div>
  </body>