<%layout("layouts/boilerplate")%>
  <%title="Update"%>
    <%css="/update.css"%>

      <body>
        <form action="/listing" method="post">
          <div class="new">
            <h1>Add New Villas</h1>
            <!-- title -->
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input id="title" type="text" class="form-control" placeholder="Give your space a catchy title"
                name="listing[title]">
            </div>
            <!-- description -->
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea id="description" class="form-control" placeholder="Share some details about your place"
                name="listing[description]"></textarea>
            </div>
            <!-- image -->
            <div class="mb-3">
              <label for="image" class="form-label">Image link</label>
              <input id="image" type="text" class="form-control" placeholder="Paste your link here"
                name="listing[image][url]">
            </div>
            <div class="row">
              <!-- price -->
              <div class="mb-3 col-md-5">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input id="price" name="listing[price]" type="number" class="form-control"
                    placeholder="Enter the Price">
                </div>
              </div>
              <!-- country -->
              <div class="mb-3 col-md-7">
                <label for="country" class="form-label">Country</label>
                <input id="country" name="listing[country]" type="text" class="form-control"
                  placeholder="Enter the Country">
              </div>
            </div>
            <!-- location -->
            <div class="mb-5">
              <label for="location" class="form-label">Location</label>
              <input id="location" name="listing[location]" type="text" class="form-control"
                placeholder="Enter the Location">
            </div>
            <button class="btn btn-danger">Add New Listing</button>
          </div>
        </form>
      </body>