.showimg{
    max-height: 31.5rem;
    width: 100%;
    border-radius: 1.25rem;
    padding: 0.6rem 0rem;
    object-fit: cover;
}
#map{
    height:25rem;
    width:100%
}
#marker {
        
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }
