.new{
    padding-top:0.15rem ;

    margin: auto;
}
.backListing{
    text-decoration: none;
    color: #002080;
    font-weight: 600;
        display: flex;
    align-items: center;
    gap: 0.25rem;
}
.btl:hover{
    text-decoration: 1px solid #002080 underline;
}

