.detail{
    width: fit-content;
    margin: auto;
}
img{
    height: 31.25rem;
    width: 43.75rem;
    border-radius: 1.25rem;
    padding: 0.6rem;
}
.button{
    display: flex;
    flex-direction: column;
}
/* nav */
.navbar{
    background-color:gray ;
    position: fixed;
    overflow: hidden;
    width: 100%;

    top: 0;
    z-index: 5;
}
.app{
    color: #FF385C !important;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.airbnb-icon{
    font-size: 3.125rem;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  padding: 0.25rem !important;
}

.navbar-toggler-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.6rem;
}
.rightnav{
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
}
