
.head{
    margin-left: 60px;
}
.listing{
height: 250px;
width: 100%;
border-radius: 20px;
}
.mycard{
    display: flex;
    flex-direction: column;
}
.listing:hover{
    opacity: 0.2;
}
p{margin: 10px!important;
    line-height: 0.05;
}
.houses{

margin: 0 auto ;
}
