<%layout("/layouts/boilerplate.ejs")%>
    <%title="No result"%>
<%css="/css/no.css"%>
<audio src="/images/audio.mp3" id="audioplay"></audio>
<div class=" row ">
    <div class="col-12 col-md-6 no-result">
      
    </div>
</div>
<script>
let audio=document.getElementById("audioplay");
console.dir(audio);
audio.play();
</script>