<%layout("layouts/boilerplate")%>
    <%title="Sign Up"%>
    <style>
        .cards{
            position: relative;
            transform-style:preserve-3d;
            height: 50rem;
            width: 50rem;
        }
        .back,.front{
            backface-visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;

        }
        .back{
            pointer-events: none;
        }
        .samne{
            background-color: rgb(255, 85, 0);
            transform: rotateY(180deg);
            box-shadow: 1rem 1rem 1rem grey;
        }
        .front{
            box-shadow: 1rem 1rem 1rem grey;
        }
        .flipCard{
             transform:rotateY(180deg);
        }
    </style>
    <div class="row">
        <div class="col-7 mx-auto">
    

<form action="/users/sign" method="post" novalidate class="needs-validation">
    <div class="cards">
        <div class="front">
<div class="mb-3">
<label for="username" class="form-label">Username</label>
<input id="username" type="text" class="form-control" name="sign[username]" required>
<div class="valid-feedback">Looks Good !!</div>
<div class="invalid-feedback">Username Please </div>
</div>
<div class="mb-3">
<label for="email" class="form-label">Email Id</label>
<input id="email" type="text" class="form-control" name="sign[email]" required>
<div class="invalid-feedback">Enter a valid Email only </div>
</div>
<div class="mb-3">
<label for="password" class="form-label">Password</label>
<input id="password" type="text" class="form-control" name="sign[password]" required>
<div class="invalid-feedback">Enter a valid Password</div>
</div>
<button class="btn btn-danger m-3 signup" type="submit">Sign Up</button>
</div>
<div class="back"></div>
</div>
</form>
</div>
</div>
    <!-- <script>
        let form=document.querySelector("form");
        let cards=document.querySelector(".cards");
        let front=document.querySelector(".front");
        let back=document.querySelector(".back");
        let sign=document.querySelector(".signup");
        form.addEventListener("submit",(event)=>{
            event.preventDefault();
            back.className="samne",
            cards.className="flipCard"
        })
    </script> -->